# Module 2 Live Session Lab

## Step 1: Introduce the project scenario

An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior data engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF).

## Step 2: Setting up the virtual environment
For this lab, we'll be using the following libraries:
pandas for managing the data
numpy for mathematical operations

In [1]:
#Install required packages
!pip install pandas numpy 
!pip install lxml

Requirement already satisfied: pandas in c:\users\adboo\anaconda3\envs\dev\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\adboo\anaconda3\envs\dev\lib\site-packages (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adboo\anaconda3\envs\dev\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adboo\anaconda3\envs\dev\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adboo\anaconda3\envs\dev\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\adboo\anaconda3\envs\dev\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: lxml in c:\users\adboo\anaconda3\envs\dev\lib\site-packages (5.3.0)

In [2]:
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

## Step 3: Extract GDP data from a URL
Extract the required GDP data from the given URL using web scraping.

URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

You can use Pandas library to extract the required table directly as a DataFrame. Note that the required table is the third one on the website.

In [3]:
#Extract the required GDP data from the given URL using web scraping.
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"


# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(URL)
df = tables[3]


# Replace the column headers with column numbers
df.columns = range(df.shape[1])


# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]


# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]


# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']

df.head()

         Country GDP (Million USD)
1  United States          26854599
2          China          19373586
3          Japan           4409738
4        Germany           4308854
5          India           3736882

In [4]:
# Note that the data type for GDP is incorrect
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 1 to 10
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            10 non-null     object
 1   GDP (Million USD)  10 non-null     object
dtypes: object(2)
memory usage: 292.0+ bytes

## Step 4: Modify the data to ensure it is fit for purpose

Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD. Use the round() method of NumPy library to round the value to 2 decimal places. Modify the header of the DataFrame to GDP (Billion USD).

In [5]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)


# Convert the GDP value in Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000


# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)


# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [6]:
# Confirm data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 1 to 10
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            10 non-null     object
 1   GDP (Million USD)  10 non-null     float64
dtypes: float64(1), object(1)
memory usage: 292.0+ bytes

## Step 5: Load the DataFrame to a CSV file
Load the DataFrame to the CSV file named "Largest_economies.csv"

In [7]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('./Largest_economies.csv')